
{% extends 'aggregator/base.html' %}

{% block body %}
<div class="albums-container container-fluid">

    <!-- Albums -->
    <div class="row">
        <div class="col-sm-12">

        </div>

            {% for chapterDetail in object_list %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">

                            <img src="https://s-media-cache-ak0.pinimg.com/236x/87/f0/5e/87f05e37e60f664610384df36ba79c34.jpg" class="img-responsive">

                        <div class="caption">
                            <h2> {{ chapterDetail.chapterNumber }}</h2>
                            <h4> {{ chapterDetail.chapterTitle }}</h4>

                            <!-- View Details -->

                            <!-- Delete Album -->
                            <form action="/next/" method="get" style="display: inline;">
                               <input type="hidden" name="album_id" value="{{ content.chapterNumber }}" />
                                <input type="submit" class="btn btn-info" value="Open Chapter">

                                </input>
                            </form>




                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}

    </div>
    </div>
{% endblock %}